@import "tailwindcss";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none; 
    
}
:root {
    --header-bg: white;
    --body-bg: #0F172A;
    --text-color: #F8FAFC;
    --left-side:#3C2219;
    --right-side:#4C372A;
    --white-text : #FDF6ED;
}
.Home-conatainer{
    height: auto;
    width: 100vw;
    border: 2px solid black;
    background-image: url(../assets/Bg.jpg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.Home-header{
    height: 90px;
    width: 80%;
    border: 1px solid black;
    border-radius: 40px ;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--header-bg);
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Home-header div{
    height: 85%;
    width: 25%;
    border: 1px solid black;
}


#Main{
    height: 800px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    border: 2px solid grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#Main div{
    height: 90%;
    width: 36%;
    border: 1px solid pink;
}

#footer {
    height: 100px;
    width: 100%;
    background-color: black;
    border: 1px solid white;
    color: white;


}